.mainHeader {
    display: flex;
    height: 80px;
    padding: 15px;

    background-color:#f9f7f7;
    color: #112d4e;

    position: relative;
    z-index: 1;
    border-bottom: solid 3px #3f72af;
}

.innerHeader {
    width: 1000px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.secondaryText {
    color: #3f72af;
}
.sunIcon {
    order: -1;
}

.headerTitle {
    order: 1;
}



